<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{content:title}-{pboot:sitetitle}</title>
<meta name="keywords" content="{content:keywords}">
<meta name="description" content="{content:description}">
<link href="{pboot:sitedomain}/skin/css/bootstrap.min.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/style.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/iconfont.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/demo.css" rel="stylesheet">
<link href="{pboot:sitedomain}/skin/css/base.css" rel="stylesheet">
<!--[if lt IE 9]>
 <script src="{pboot:sitedomain}/skin/js/html5shiv.min.js"></script>
 <script src="{pboot:sitedomain}/skin/js/respond.min.js"></script>
 <![endif]-->
</head>
<body>
{include file=head.html}
{include file=nbanner.html}
<section id="case">
  <div class="container">
    <div class="col-sm-9 news_details">
      <p class="news_title">{content:title}</p>
      <small class="fc999">Release time：{content:date style=Y-m-d}&nbsp;&nbsp;&nbsp;&nbsp;Click：{content:visits}</small>
      <p>
     {content:content}
      </p>
    </div>
    <div class="col-sm-3">
      <p class="case_title">Hot products</p>
      <ul>
        {pboot:list scode=2 num=4 order=sorting}
          <li> <a href="[list:link]">
            <div class="case_cp"><img src="[list:ico]" width="100%"></div>
            <p>[list:title]</p>
            </a> </li>
            {/pboot:list}
      </ul>
      <div class="contact_all">
        <p>Tel:<span>{pboot:companymobile}</span></p>
        <p>E-mail:<span>{pboot:companyemail}</span></p>
        <img src="{pboot:sitedomain}/skin/images/case_13.png" alt=""> </div>
    </div>
  </div>
</section>
{include file=foot.html}
</body>
</html>
